<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tenant.user_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @tenant.organization_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tenant.type %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
