<%= form_with(model: invitation, local: true) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :used_by_user_id %>
    <%= form.number_field :used_by_user_id %>
  </div>

  <div class="field">
    <%= form.label :invited_by_user_id %>
    <%= form.number_field :invited_by_user_id %>
  </div>

  <div class="field">
    <%= form.label :expire_at %>
    <%= form.datetime_select :expire_at %>
  </div>

  <div class="field">
    <%= form.label :orgnization_id %>
    <%= form.number_field :orgnization_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
