<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @invitation.code %>
</p>

<p>
  <strong>Used by user:</strong>
  <%= @invitation.used_by_user_id %>
</p>

<p>
  <strong>Invited by user:</strong>
  <%= @invitation.invited_by_user_id %>
</p>

<p>
  <strong>Expire at:</strong>
  <%= @invitation.expire_at %>
</p>

<p>
  <strong>Orgnization:</strong>
  <%= @invitation.orgnization_id %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
