<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
        <% subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.hidden_field :plan_id, value: params[:plan_id] %>
  </div>
  <div class="field">
    <%= form.label :frequancey %>
    <%= form.select :frequancey, [ 'monthly','annually'], :prompt => 'Select One' %>
  </div>
  <% unless params[:plan_id] == '2' %>
    <div class="field">
      <%= form.label :organization %>
      <%= form.text_field :name %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>