<p id="notice"><%= notice %></p>
<p>
  <strong>Plan:</strong>
  <%= @subscription.plan_id %>
</p>
<p>
  <strong>Active:</strong>
  <%= @subscription.active %>
</p>
<p>
  <strong>Organaization:</strong>
  <%= @subscription.tenant.organization.name %>
</p>
<p>
  <strong>Frequancey:</strong>
  <%= @subscription.frequancey %>
</p>
<p>
  <strong>Num of board:</strong>
  <%= @subscription.num_of_board %>
</p>
<p>
  <strong>Num of seat:</strong>
  <%= @subscription.num_of_seat %>
</p>
<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>