<div>
  <div class="board-name">
    <span><%= board.name %></span>
    <span class="board-add-link board-button"><%= link_to 'Add Card', new_card_path(board_id: board.id) %></span>
  </div>
  <div class="board-cards">
    <% board.cards.last(5).each do |card| %>
      <div class="board-card">
        <span style="font-weight: bold;">Title:</span>
        <span class="card-name"><%= card.name %></span>
        <span style="font-weight: bold;"> | Progress:</span>
        <span class="task-number"><%= card.tasks.where(completed: true).count %>/<%= card.tasks.count %></span>
        <span class="board-button"><%= link_to 'Add Task', new_task_path(card_id: card.id) %></span>
        <span class="board-button"><%= link_to 'Task List', tasks_path(card_id: card.id) %></span>
      </div>
    <% end %>
  </div>
</div>