<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :licence_seats_num %>
    <%= form.number_field :licence_seats_num %>
  </div>

  <div class="field">
    <%= form.label :licence_boards_num %>
    <%= form.number_field :licence_boards_num %>
  </div>

  <div class="field">
    <%= form.label :monthly_licence_price %>
    <%= form.text_field :monthly_licence_price %>
  </div>

  <div class="field">
    <%= form.label :annual_licence_price %>
    <%= form.text_field :annual_licence_price %>
  </div>

  <div class="field">
    <%= form.label :monthly_seat_price %>
    <%= form.text_field :monthly_seat_price %>
  </div>

  <div class="field">
    <%= form.label :monthly_board_price %>
    <%= form.text_field :monthly_board_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
