<p id="notice"><%= notice %></p>
<h1>Plans</h1>
<table>
  <thead>
    <tr>
      <th>Plan Name</th>
      <th>Allowed Users</th>
      <th>Allowed Boards</th>
      <th>Monthly Price</th>
      <th>Annualtly Price</th>
      <th>Per Seat Price</th>
      <th>Per Board Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.licence_seats_num || 'Unlimited' %></td>
        <td><%= plan.licence_boards_num || 'Unlimited' %></td>
        <td><%= (plan.monthly_licence_price || 'NA').to_s.prepend('$') %></td>
        <td><%= (plan.annual_licence_price || 'NA').to_s.prepend('$') %></td>
        <td><%= (plan.monthly_seat_price || 'NA').to_s.prepend('$') %></td>
        <td><%= (plan.monthly_board_price || 'NA').to_s.prepend('$') %></td>
        <td><%= link_to 'Subscribe', new_subscription_path(plan_id: plan.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>