<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>
<strong>Kind:</strong>
<%= @plan.kind %>
</p>
<p>
  <strong>Active:</strong>
  <%= @plan.active %>
</p>
<p>
  <strong>Licence seats num:</strong>
  <%= @plan.licence_seats_num %>
</p>
<p>
  <strong>Licence boards num:</strong>
  <%= @plan.licence_boards_num %>
</p>
<p>
  <strong>Monthly licence price:</strong>
  <%= @plan.monthly_licence_price %>
</p>
<p>
  <strong>Annual licence price:</strong>
  <%= @plan.annual_licence_price %>
</p>
<p>
  <strong>Monthly seat price:</strong>
  <%= @plan.monthly_seat_price %>
</p>
<p>
  <strong>Monthly board price:</strong>
  <%= @plan.monthly_board_price %>
</p>
<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>