<!DOCTYPE html>
<html>
  <head>
    <title>Plato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to 'Add New Board', new_board_path %>
      <% if current_user.manage_subscription? %>
        <%= link_to 'Subscription', manage_subscriptions_path %>
      <% end %>
      <% if current_user.organization? && current_user.manage_subscription? %>
        <%=  link_to 'Invitations', invitations_path %>
      <% end %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>