<!DOCTYPE html>
<html>
  <head>
    <title>Plato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to 'Add New Board', new_board_path %>
      <%= link_to 'Subscription', calculate_boards_path %>
      <%= link_to 'Add users', add_seat_boards_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>